/* By Caroline */

*
{
    margin: 0;
    padding: 0;
    border: none;
}

:root
{
    font-size: 1vh;
}


/*** View Fixed ***/
.flex
{
    display: flex;
}


header
{
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#logo
{
    padding-right: 2%;
}

#lateral
{
    position: fixed;
}

#lateral p
{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    -webkit-transform: translate(-35%, 0) rotate(-90deg);
    -moz-transform: translate(-35%, 0) rotate(-90deg);
    -o-transform: translate(-35%, 0) rotate(-90deg);
    -ms-transform: translate(-35%, 0) rotate(-90deg);
    transform: translate(-35%, 0) rotate(-90deg);
    padding: 0.6em;
    width: 5em;
}


/* #required
{
    position: fixed;
    transform: translate(-50%, -50%);
} */

#description
{
    position: fixed;
    line-height: 2em;
    width: 100%;
    word-wrap: break-word;
    top: 2.5em;
    text-align: center;
}


/* By Laure */

#files
{
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    line-height: 2em;
    word-wrap: break-word;
    top: 23em;
}

#remark
{
    position: fixed;
    line-height: 2em;
    word-wrap: break-word;
}

#modal
{
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30em;
}

#slide {
  height: 30em;
  position: relative;
  overflow: hidden;
}

#inputs
{
  position: absolute;
  width: 100%;
}

.wrap
{
  position: relative;
  height: 30em;
}

/* navigation */

#down {
  position: fixed;
  top: 35em;
  left: 19em;
  width: 4em;
  z-index: 100;
}
#up {
  position: fixed;
  top: 5em;
  left: 19em;
  width: 4em;
  z-index: 100;
}
