/* By Caroline */

*
{
    margin: 0;
    padding: 0;
    border: none;
}


/*** View Fixed ***/
.flex
{
    display: flex;
}


header
{
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#logo
{
    padding-right: 2%;
}

#lateral
{
    position: fixed;
}

#lateral p
{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    -webkit-transform: translate(-35%, 0) rotate(-90deg);
    -moz-transform: translate(-35%, 0) rotate(-90deg);
    -o-transform: translate(-35%, 0) rotate(-90deg);
    -ms-transform: translate(-35%, 0) rotate(-90deg);
    transform: translate(-35%, 0) rotate(-90deg);
    padding: 0.6em;
    width: 5em;
}


/* #required
{
    position: fixed;
    transform: translate(-50%, -50%);
} */

#description
{
    position: fixed;
    line-height: 2em;
    width: 100%;
    word-wrap: break-word;
    top: 2.5em;
    text-align: center;
}


/* By Laure */

#files
{
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    line-height: 2em;
    word-wrap: break-word;
    top: 23em;
}

#remark
{
    position: fixed;
    line-height: 2em;
    word-wrap: break-word;
}

#modal
{
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20em;
}

#inputs
{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrap
{
  height: 15em;
}

/* navigation */

#down {
  width: 4em;
  z-index: 100;
}
#up {
  width: 4em;
  z-index: 100;
}

.hide {
  display: none;
}
.show {
  display: block;
}
