/* By Caroline */

:root
{
    --widthDiv: 40%;
}

#lateral
{
    top: 30%;
}

#required
{
    left: 50%;
    width: var(--widthDiv);
}

#note
{
    width: var(--widthDiv);
    top: 15%;
}

#description
{
  position: fixed;
  top:10%;
  text-align: center;
}
#modal
{
    width: var(--widthDiv);
}

#files
{
    width: var(--widthDiv);
    top: 70%;
}

#remark
{
    top: 35%;
    left: 75%;
    width: 15%;
}
