
/* by julien */
:root {
    --primary-color: #37474f;
    --primary-colorlight: #62717b;
    --primary-colordark: #101f27;
    --secondary-color: #b71c1c;
    --secondary-colorlight: #f05545;
    --secondary-colordark: #7f0000;
    --third-color: #ffee58;
    --third-colorlight: #cddc39;
    --third-colordark: #66bb6a;
    --title-size: 4em;
    --normal-size: 2em;
    --medium-size: 3em;
    --title-family: Garamond;
    --normal-family: 'Sans Serif';
    --highlight-family: Monospace;
    --bg-input: 'rgb(186,200,228)';
    /* --bg-input: 'linear-gradient(to right, rgba(255,255,255, 0.8) 0%, rgba(166,190,208, 0.8) 100%)'; */
    font-family: var(--normal-family);
}

/*** View Fixed ***/
.body
{
    background-image: url("../img/plane.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position : x y */
    background-position: 20% 10%;
    background-size: 80% ;
}

.hidden
{
    visibility: hidden;
}

.visible
{
    visibility: visible;
}

header
{
    background-color: var(--primary-color);

}

#lateral p
{
    background-color: var(--primary-colorlight);
}


/*** View Upload ***/

form
{
    margin: auto;
    width: 60%;
    text-align: center;
    position: relative;
}

input {
  width: 10em;
}



/* By Laure */

/* Transition on jump from one wrap to another */

#inputs
{
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

/* Wrapping inputs and their background */
.wrap {
  padding: .5em;
}

.wrap p {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* WRAP FILES : 2 items - input file and reset button */
#wrap-file {
  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  background: 0 2em/contain no-repeat url('../img/folder-etiquette.svg');
}
      #wrap-file p { position: relative; }

      #wrap-file p * { display: inline; }
      #wrap-file p span { margin-top: 3em; }

      /* UPLOAD BUTTON APPEARANCE */
      input[type='file']
      /* we need to override browser appearance by hiding it */
      /* some image (background here) will provide for its new pseudo-appearance */
      {
          font-size: 150%;
          /* font-size gives the input area's height, for clicking */
          cursor: pointer;
          /* important : cursor appearance changes to hand pointing when hovering over the button */

          /* now set it transparent */
          opacity: 0;

          /* giving it a max-width so it does not behave as an inline */
          max-width: 50%;
          /* relative to its parent's width */

          /* margin-top: 1em; */
          position: absolute;
          top: 5em;
      }

      #reset-files {
        width: 2em;
        margin-left: 5em;
        background: 0 60%/contain no-repeat url("../img/reset.svg");
      }

      #reset-files:hover {
        color: white;
      }

/* WRAP SENDER - 1 item : input mail */
#wrap-sender
{
  background: 0 2em/contain no-repeat url('../img/enveloppe-miOpen.svg');
}

/* WRAP MESSAGE - 2 items : input text (name) & textarea */
#wrap-message
{
  background: 0 2em/contain no-repeat url('../img/message.svg');
}

      textarea
      {
        height: 10em;
        width: 30em;
        overflow: hidden;
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
      }

      #name
      {
        border-bottom: 1px solid rgb(157, 182, 193);
        width: 23em;
        margin-bottom: 1em;
      }

/* WRAP RECIPIENT - 1 item : input mail */
#wrap-recipient
{
  background: 0 2em/contain no-repeat url('../img/closed-enveloppe.svg');
}

/* WRAP SUBMIT - 1 item : input submit */
#wrap-submit
{
  background: 0 2em/contain no-repeat url('../img/send.svg');
  text-align: left;
}

      #upload
      {
        font-size: 150%;
        cursor: pointer;
        opacity: 0;
        margin: -1em;
      }



/* GENERAL : reset appearance */
input, textarea
{
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance:none;
  background-color: var(--bg-input);
}

input
{
  line-height: 2em;
}
